.ProfileWrapper,
.EditProfileWrapper,
.AddVehicleWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  width: 100%;
  gap: 15px;
  height: 100vh;
  overflow-y: scroll;
  padding-bottom: 100px;
}

.ProfileWrapper .imagecont {
  background: url("./coin.png") center center/contain #1e3d6b no-repeat;

  background-blend-mode: lighten;
  height: 20px;
  width: 20px;
  border-radius: 50%;
}

.DetailWrapper {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 100%;
}

.DetailWrapper .HeadingSection {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
}

.DetailWrapper .HeadingSection .Names {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  line-height: 1;
  gap: 3px;
}
.DetailWrapper .HeadingSection .Names div {
  display: flex;
  align-items: center;
  gap: 10px;
}
.DetailWrapper .HeadingSection .coins {
  display: flex;
  align-items: center;
  gap: 10px;
  border: 4px solid #1e3d6b;
  width: fit-content;
  padding: 5px 10px;
  border-radius: 10px;
}

.DetailWrapper .ButtonWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.DetailWrapper .ButtonWrapper button {
  background-color: transparent;
  display: flex;
  width: 100%;
  justify-content: space-between;
  border-bottom: 1px solid #1e3d6b;
  padding: 20px 5px;
  border-radius: 0;
  align-items: center;
}

.DetailWrapper .ButtonWrapper button div {
  display: flex;
  gap: 20px;
  align-items: center;
}

/* Edit profile page */
.EditProfileWrapper .DetailSection {
  margin-top: 5vh;
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 10vh;
  align-items: center;
}
.EditProfileWrapper .DetailSection > div {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

.EditProfileWrapper .DetailSection > div > div {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 10px;
}
.EditProfileWrapper .DetailSection > div > div h2 {
  color: #1e3d6b;
}
.EditProfileWrapper .DetailSection > div > div input {
  padding: 15px;
  background-color: white;
  border-radius: 10px;
  width: 100%;
  color: black;
  border-color: #1e3d6b;
}

.EditProfileWrapper .DetailSection button {
  width: 170px;
  background-color: #1e3d6b;
  color: white;
}

/* Add Vehicles */
.AddVehicleWrapper {
}
