.BookingWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  width: 100%;
  gap: 15px;
  height: 100vh;
  overflow-y: scroll;
  padding-bottom: 100px;
  color: black;
}

.DetailsWrapper {
  height: 80vh;
  overflow-y: scroll;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.DetailsWrapper h1 {
  font-size: 25px;
  letter-spacing: 5px;
}
.DetailsWrapper .scheduleWrap {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  width: 100%;
}

.DetailsWrapper .scheduleWrap .Datas {
  display: flex;
  flex-direction: column;
  min-height: 100px;
  max-height: 200px;
  overflow-y: scroll;
  width: 100%;
  gap: 20px;
}

.DetailsWrapper .scheduleWrap .Datas .IndividualCont {
  display: flex;
  width: 100%;
  border-radius: 22.882px;
  background: #fcfafc;
  box-shadow: -2px 4px 16px 0px rgba(0, 0, 0, 0.1);
  padding: 15px;
  gap: 10px;
  align-items: center;
}

.DetailsWrapper .scheduleWrap .Datas .IndividualCont .Dates {
  border: 2px solid #1e3d6b;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  line-height: 1;
  gap: 3px;
}
.DetailsWrapper .pastBookingWrap {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  width: 100%;
}
.DetailsWrapper .pastBookingWrap .TableWrap {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 15px;
  height: 35vh;
  overflow-y: scroll;
}
.DetailsWrapper .pastBookingWrap .TableWrap > div {
  display: flex;
  width: 100%;
  justify-content: space-between;
  border-bottom: 1px solid #1e3d6b;
  padding:5px 0px 15px 0px;
  line-height: 1;
}
.DetailsWrapper .pastBookingWrap .TableWrap > div:first-child,
.DetailsWrapper .pastBookingWrap .TableWrap > div:last-child {
  border-bottom: none;
}
.DetailsWrapper .pastBookingWrap .TableWrap > div > p {
  width: 33%;
  text-align: center;
}
