.vehicleWrapper {
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.vehicleCardsWrapper {
    padding-top: 2rem;
    display: flex;
    position: relative;
    top: 0;
    left: 3.5%;
    justify-content: start;
    flex-wrap: wrap;
    gap: 10px;
}

.vehicleCards {
    width: 45%;
    display: flex;
    flex-direction: column;
    border: 1px solid;
    border-radius: 10px;
    position: relative;
}

.delete {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: -5px;
    font-weight: bold;
    background-color: aliceblue;
    padding: 5px;
    right: -5px;
    border-radius: 50%;
    width: 30px;
    cursor: pointer;
}

.modalForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px 0px;
}

.modalForm div {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.modalForm div input {
    padding: 10px;
    background-color: lightgray;
    border: none;
    border-radius: 10px;
    width: 90%;
}

.modalForm button,
.removeModalForm button {
    padding: 10px;
    background-color: #1e3d6b;
    color: white !important;
    border: none;
    border-radius: 10px;
    width: 50%;
}
.formWrapper > button {
    color: white;
    padding: 15px;
    width: 170px;
}
