.vehicleWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  width: 100%;
  gap: 15px;
  height: 100vh;
  overflow-y: scroll;
  padding-bottom: 100px;
}

.vehicleCardsWrapper {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: 10px;
}

.vehicleCards {
  width: calc(50% - 5px);
  box-shadow: -2px 4px 16px 0px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  padding: 15px;
  background-color: #fcfcfc;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  color: black;
}

.delete {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  top: -20px;
  right: -4.5rem;
  font-weight: bold;
  background-color: aliceblue;
  padding: 5px;
  border-radius: 50%;
  width: 30px;
  cursor: pointer;
}
.vehicleWrapper .modalForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 20px 0px;
}

.vehicleWrapper .modalForm div {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.vehicleWrapper .modalForm div input {
  padding: 10px;
  background-color: lightgray;
  border: none;
  border-radius: 10px;
  width: 90%;
}

.vehicleWrapper .modalForm button {
  padding: 10px;
  background-color: #1e3d6b;
  color: white;
  border: none;
  border-radius: 10px;
  width: 50%;
}
