/* report css */
.ReportWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  width: 100%;
  gap: 15px;
  height: 100vh;
  overflow-y: scroll;
  padding-bottom: 100px;
  color: black;
}
