/* report css */
.ReportWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  width: 100%;
  gap: 15px;
  height: 100vh;
  overflow-y: scroll;
  padding-bottom: 100px;
  color: black;
}

.detailsWrapper,
.detailsWrapper .DetailSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10vh;
}

.detailsWrapper button {
  background-color: #1e3d6b;
  color: white;
  padding: 10px;
  font-size: 17px;
  width: 170px;
}

.detailsWrapper .DetailSection {
  gap: 25px;
}

.detailsWrapper .DetailSection h2 {
  color: #1e3d6b;
  font-size: 20px;
}

.detailsWrapper .DetailSection .UploadSection {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 100%;
  padding: 20px;
  border-radius: 17px;
  background: #fcfafc;
  box-shadow: -2px 4px 16px 0px rgba(0, 0, 0, 0.25);
}
.detailsWrapper .DetailSection .UploadSection label {
  min-height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #1e3d6b;
  border-radius: 20px;
  color: white;
  max-height: 300px;
  width: 100%;
  overflow: hidden;
}

.detailsWrapper .DetailSection .UploadSection label img {
  width: 100%;
  object-fit: contain;
  height: 100%;
}

.detailsWrapper .DetailSection .EnterLocation {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 18px;
}

.detailsWrapper .DetailSection .EnterLocation div {
  width: 100%;
  display: flex;
  align-items: center;
  border: 1px solid #1e3d6b;
  padding: 5px;
  border-radius: 10px;
  gap: 5px;
}
.detailsWrapper .DetailSection .EnterLocation div input {
  border: none;
}
