/* Header nav css */

.HeaderNavWrapper {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 0px 20px;
  h2 {
    color: #1e3d6b;
    font-size: 25px;
  }
  div {
    display: flex;
    align-items: center;
    gap: 15px;
  }
  button {
    background-color: transparent;
    width: fit-content;
    padding: 0;
  }
}

/* Navbar CSS */
.NavbarWrapper {
  background-color: #1e3d6b;
  width: calc(100% - 60px);
  max-width: 900px;
  position: fixed;
  bottom: 20px;
  padding: 15px;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
