.ContactUSWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  width: 100%;
  gap: 15px;
  height: 100vh;
  overflow-y: scroll;
  padding-bottom: 100px;
}

.DetailWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 10px;
  max-height: 80vh;
  overflow-y: scroll;
}

.DetailWrapper img {
  width: 100%;
  max-width: 400px;
}

.DetailWrapper input,
.DetailWrapper textarea {
  padding: 15px;
  background-color: white;
  border-radius: 10px;
  width: 100%;
  color: black;
  border-color: #1e3d6b;
}

.DetailWrapper textarea {
  height: 200px;
  border: 2px solid;
}
.DetailWrapper button {
  background-color: #1e3d6b;
  color: white;
  padding: 10px ;
  font-size: 17px;
}
