/* css for login and signup */
.RegistrationWrapper {
  color: black;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  padding: 2rem;
  .headers {
    display: flex;
    flex-direction: column;
    gap: 10px;
    h2 {
      font-size: 30px;
      line-height: 1;
    }
    h3 {
      font-size: 26px;
      line-height: 1.2;
      font-weight: 400;
    }
  }
  img{
    width: 100%;
    object-fit: contain;
  }
  .InputContainerWrapper{
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
     width: 100%;
    div{
        display: flex;
        flex-direction: column;
        gap: 5px;
         width: 100%;
        input{
            padding: 15px;
            background-color: white;
            border-radius: 10px;
            width: 100%;
        }
        a{
            align-self: flex-end;
            color: #1E3D6B;
        }
    }
    button{
        padding: 12px 60px;
        width: 70%;
        background-color: #1E3D6B;
    }
  }
}
