/* css for login and signup */
.RegistrationWrapper {
  color: black;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  padding: 2rem;
  gap: 20px;
}
.RegistrationWrapper .headers {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.RegistrationWrapper .headers h2 {
  font-size: 30px;
  line-height: 1;
}
.RegistrationWrapper .headers h3 {
  font-size: 26px;
  line-height: 1.2;
  font-weight: 400;
}
.RegistrationWrapper img {
  width: 100%;
  object-fit: contain;
}

.RegistrationWrapper .InputContainerWrapper {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
  width: 100%;
}

.InputContainerWrapper > div {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 100%;
}
.InputContainerWrapper > div input {
  padding: 15px;
  background-color: white;
  border-radius: 10px;
  width: 100%;
  color: black;
}

.InputContainerWrapper > div P {
  color: red;
  text-align: left;
  margin-top: -5px;
  margin-left: 10px;
}
.InputContainerWrapper > div a {
  align-self: flex-end;
  color: #1e3d6b;
}
.InputContainerWrapper button {
  padding: 12px 60px;
  width: 70%;
  background-color: #1e3d6b;
  color: white;
}
